<br>
<h1 align="center"><b>Employee1 Data</b></h1>
<hr>
<div>
    <table align="center" border="1" style="width: 70%; height: 100%;">
        <tr style="width: 80%;">
            <td colspan="3">
                <input type="text" class="form-control" placeholder="Search Employee Name" />
            </td>
        </tr>
        <tr align="center">
            <th class="btn-success text-white">
                Employee Id
            </th>
            <th class="btn-success text-white">
                Employee Name
            </th>
            <th class="btn-success text-white">
                Employee Salary
            </th>
        </tr>
        <tr class="bg-primary text-white" align="center">

            <td>101</td>
            <td>suresh</td>
            <td>30000</td>
            <!-- <td class="bg-primary text-white" align="center">
                {{employee1.empId}}
            </td>
            <td class="bg-primary text-white" align="center">
                {{employee1.empName | titlecase}}
            </td>
            <td class="bg-primary text-white" align="center">
                {{employee1.empSal | currency:'USD'}}
            </td> -->
        </tr>
        <tr class="bg-primary text-white" align="center">
            <td>102</td>
            <td>ramesh</td>
            <td>20000</td>
        </tr>
        <tr class="bg-primary text-white" align="center">
            <td>103</td>
            <td>naresh</td>
            <td>15000</td>
        </tr>
    </table>
</div>
<!-- {{errMsg | json}} -->